<!DOCTYPE html>
<html>
<head>
  <title>Magic Wall</title>
  <link rel="stylesheet" href="Style.css">
  <link rel="icon" href="Faviconcc.ico" type="image/x-icon" />
</head>

<body>
  <div id= "wrapper">
    <img src="25aa604e-a090-40dc-83f0-b1f0b5965fc6.jpg">
    <h1 id=title class="title">Welcome Back!</h1>

    <form class="user">
      <div class="email">
        E-mail: <input type="email" class="form-control-user" id="inputEmail">
      </div>

      <div class="password">
        Password: <input type="password" class="form-control-user" id="inputPassword"maxlength="12">
      </div>
    </form>

     <button id="btnLogin">Login</button>
     <button id="logOutButton" class="hide">Logout</button>

   </div>                

   <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>
   <script src="app.js"></script>
   <script src="authentication.js"></script>
</body>


</html>


